<button c2-button #id($!{ele.id}) class="btn  $!{param.style} $!{param.size} no-border" 
	ng-init='$state.${ele.id}.disabled = ${param.disabled};$state.${ele.id}.visible=${param.show}' 
	ng-show='$state.${ele.id}.visible'
	ng-disabled='$state.${ele.id}.disabled'"incompatible with
	ng-click="resumeProcessInstance(${param.processInstanceId},${param.deleteReason})">
	#if($!{param.icon}!="")<i class="ace-icon fa ${param.icon}"></i>#end
	${ele.name}
</button>
